<!DOCTYPE html>
<html>
<head>
    <title>Items on Sale</title>
</head>
<body>
    <% for (let i = 0; i < items.length; i++) { %>
        <div class="item">
            <h3><%= items[i].name %></h3>
            <p> Status:
                <% if (items[i].sale) { %>
                    <p>For sale</p>
                <% } else { %>
                    <p>Wanted</p>
                <% } %>
            </p>
            <p>Price:
                $<%= items[i].price %></p>
            <img src="/images/<%= items[i].photo %>" alt="<%= items[i].name %>" width="200" height="200">
            <p>Tags:
                <% for (let j = 0; j < items[i].tag.length; j++) { %>
                    <%= items[i].tag[j] %>
                <% } %>
            </p>
        </div>
    <% } %>
</body>
</html>
